<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153872820797-u8abjmjm03fa6tha58ajqilcgfkidl5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153872820797-u8abjmjm03fa6tha58ajqilcgfkidl5o</string>
	<key>API_KEY</key>
	<string>AIzaSyC48bWkJNFpcVbd4cmiizHPLotmh3Dya0k</string>
	<key>GCM_SENDER_ID</key>
	<string>153872820797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.gwanson.MovieReview</string>
	<key>PROJECT_ID</key>
	<string>moview-94791</string>
	<key>STORAGE_BUCKET</key>
	<string>moview-94791.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153872820797:ios:afe80b15e2c35abc4dd854</string>
</dict>
</plist>